.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
}

.logo__name {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo__img {
  color: #fff;
}
