.text {
  color: var(--font-color-brand);
  font-family: var(--font-body);

  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 28px;
  margin: 0;
}

.text--primary {
  font-size: var(--font-size-copy-s);
}

.text--secondary {
  font-size: var(--font-size-copy-xs);
}
