.nav {
  display: flex;
  width: 100%;
  padding: var(--space-l) var(--space-s);
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1440px) {
    display: flex;
    width: 100%;
    padding: var(--space-l) var(--space-xxl);
    justify-content: space-between;
    align-items: center;
  }
}

.nav--secondary {
  width: 100%;
  align-self: stretch;
  padding: 0;
}

.nav__span {
  color: var(--font-color-brand);
  font-family: Inter;
  font-size: var(--space-xs);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: normal;
  text-align: center;
}
